:root{
    --main: #F7F7FA;
}

.mainDashContainer{
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: var(--main);
}
.mainDash{
    display: flex;
    width: 1248px;
    min-width: 800px;
    max-width: 1248px;
}
