.mainDashContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: turquoise;
}
.mainDash{
    display: flex;
    background-color: tomato;
    width: 1000px;
    min-width: 800px;
    max-width: 1248px;
}
