:root{
    --main-color:#FC4C1E;
}
a{
    text-decoration: none;
    color: #000;
    height: fit-content;
}
span {
    height: fit-content;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    justify-content: center;
}
.navbarMenu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.navContainer{
    display: flex;
    flex-direction: row;
    /* align-self: center; */
}
.navLeft{
    display: flex;
    flex-direction: row;
}
.navRight{
    display: flex;
    flex-direction: row;
}
.navbarMenu > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navLogo{
    font: 'Helvetica', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: -1.55px;
}
.navBtn{
    border-radius: 7px;
    background-color: var(--main-color);
    width: 155px;
    height: 34px;
    color: #fff;
    border: none;
}