:root{
    --main-color:#FC4C1E;
    --ff: "Helvetica", sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    height: fit-content;
}
span {
    display: flex;
    height: fit-content;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    justify-content: center;
    font-family: var(--ff);
    box-shadow: 0px 0px 20px 1px #cfcfcf86;
    z-index: 100;
}
.navbarMenu{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 55px;
}
.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1216px;
    min-width: 800px;
    max-width: 1216px;
    height: 55px;
    margin: 0 auto;
    padding: 0 1rem;
}
.navLeft{
    display: flex;
    flex-direction: row;
}
.navRight{
    display: flex;
    flex-direction: row;
}
.navbarMenu > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navLogo{
    font-size: 22px;
    font-weight: bolder;
    color: var(--main-color);
    letter-spacing: -1.55px;
    padding: 0 1.2rem 0 0.5rem;
}
.navBtn{
    border-radius: 4.5px;
    background-color: var(--main-color);
    font-family: var(--ff);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 16px;
    width: 145px;
    height: 29px;
    color: #fff;
    border: none;
    margin-right: 0.75rem;
}
.dropdownSet{
    font-size: 14px;
}
.arrowSize{
    width: 9px;
    padding-left: 0.3rem;
}
.drop{
    padding: 0 1.2rem 0 0.5rem;
    font-size: 14px;
    color: #494950;
}
.hamburger{
    padding: 0 0.5rem 0 1.2rem;
}
.hamArrow{
    padding-right: 0.6rem;
}