:root{
    --main-color:#FC4C1E;
    --ff: "Helvetica", sans-serif;
}
a{
    text-decoration: none;
    color: #000;
    height: fit-content;
}
span {
    height: fit-content;
}

.navbar{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    justify-content: center;
    font-family: var(--ff);
}
.navbarMenu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 55px;
}
.navContainer{
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 1248px;
    height: 55px;
}
.navLeft{
    display: flex;
    flex-direction: row;
}
.navRight{
    display: flex;
    flex-direction: row;
}
.navbarMenu > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navLogo{
    /* font-family: var(--ff); */
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
    letter-spacing: -1.55px;
}
.navBtn{
    border-radius: 7px;
    background-color: var(--main-color);
    width: 155px;
    height: 34px;
    color: #fff;
    border: none;
}
.dropdownSet{
    font-size: 14px;
}
.arrowSize{
    width: 9px;
}